<div class="container">
  <div class="row" style="margin-bottom: 20px;">
    <!-- Search Input -->
    <div class="col-md-6 col-sm-12">
      <input type="text" class="form-control" placeholder="Search by name" 
      [(ngModel)]="searchByName" (input)="searchItemByName()"/>
    </div>
    <!-- Select Category -->
    <div class="col-md-6 col-sm-12" style="text-align: -webkit-right;">
      <select class="form-select" [(ngModel)]="selectedCategory" (change)="selectCategory()">
        <option value="" selected>All Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>
  <!-- Item List -->
  <div class="row">
    <div *ngFor="let item of filteredItemList" class="col-md-3" style="margin-bottom: 50px">
      <div class="card" (click)="showItemDetails(item.idDrink)">
        <img src="{{item.strDrinkThumb}}" alt="Item Image">
        <div class="card-body">
          <h6><strong>{{item.strDrink}}</strong></h6>
          <p>
            <strong>Category:</strong> {{item.strCategory}}<br>
            <strong>Alcoholic:</strong> {{item.strAlcoholic}}<br>
            <strong>Base Ingredient:</strong> {{item.strIngredient1}}<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>