<div>
    <!-- Header section with buttons -->
    <header class="header-bar justify-content-between">
        <div>
            <!-- Conditionally display close button for item-detail page -->
            <button *ngIf="isDetailPage" type="button"
                class="btn btn-white btn-bg-darkmode" (click)="closeItemDetail()">
                <span><i class="bi bi-x-lg"></i> Close</span>
            </button>
        </div>
        <!-- Toggle Dark/Light mode buttons -->
        <button *ngIf="currentTheme === 'light'" type="button" class="btn btn-white" (click)="toggleTheme()">
            <span><i class="bi bi-moon"></i> Darkmode</span>
        </button>
        <button *ngIf="currentTheme === 'dark'" type="button" class="btn btn-white btn-bg-darkmode"
            (click)="toggleTheme()">
            <span><i class="bi bi-sun"></i> Lightmode</span>
        </button>
    </header>
    <!-- Angular Router Outlet for dynamically changing components -->
    <router-outlet></router-outlet>
</div>