<div class="container">
    <div class="cocktail-details">
        <!-- Title -->
        <h3 style="font-weight: 700;">{{itemDetail.strDrink}}</h3>
        <div class="row">
            <!-- Image -->
            <div class="col" style="text-align: center;">
                <img [src]="itemDetail.strDrinkThumb" class="drink-image" alt="Detail Image" />
            </div>
            <div class="col">
                <!-- Details -->
                <div class="top-gap">
                    <h4>Details</h4>
                    <ul>
                        <li><strong>Category:</strong> {{itemDetail.strCategory}}</li>
                        <li><strong>Glass:</strong> {{itemDetail.strGlass}}</li>
                        <li><strong>Alcoholic:</strong> {{itemDetail.strAlcoholic}}</li>
                    </ul>
                </div>
                <!-- Ingredients -->
                <div class="top-gap">
                    <h4>Ingredients</h4>
                    <ul>
                        <li>{{itemDetail.strIngredient1}} - {{itemDetail.strMeasure1}}</li>
                        <li>{{itemDetail.strIngredient2}} - {{itemDetail.strMeasure2}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Instructions -->
        <div class="top-gap">
            <h4>Instructions</h4>
            <p>{{itemDetail.strInstructions}}</p>
        </div>
    </div>

</div>
