/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';

.light-theme {
    background: #ffffff;
  }

.dark-theme {
    background: rgb(36, 36, 36);
  }
  
.body {
    background: var(--background);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
